
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
       font-style: normal;
    font-variation-settings:
      "width" 100px;
  }
/* share style: color */
.text-primary{
color: #FD6E0A;
}
.secondary-bg{}
/* button style */
.btn-primary{
    background-color: #FD6E0A;
    color: #181818;
   font-weight: 700;
    font-size: 35px;
    }
.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #181818;
    margin: 0 0 20px 0;
}

/*header style */
.header{
      background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
    align-items: center; /*nav er modhe je item gulo thakbe segulo vertically center hobe*/;
    justify-content: space-between; /*nav er modhe je item gulo thakbe segulo ek line e thakbe*/
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex; /*flex use korle list item gulo ek line e thakbe*/
    align-items: center; /*list item gulo vertically center hobe*/
   
}
nav ul li{
    list-style: none; /*list ar je bullets thake seta thakbe na*/ 
    margin-right: 50px;  
  }
nav ul li a{
    text-decoration: none; /*link er underline thakbe na*/
    }
    .dark-2{
        color: #474747;
    }
    /* banner style */
    .banner{
        display: flex;
        justify-content: space-between;
        margin: 0 38px 0 216px;
    }
    .banner-content{
        max-width: 585px;
        max-height: 356px;
    }
    .banner-title{
        color: #181818;
        font-size: 85px;
        font-weight: bold;
    }
    .banner-hi{
        color: #474747;
        font-size: 45px;
        font-weight:600px;
    }
    .banner-description{
        color: #757575;
        font-size: 18px;
        font-weight: regular;
    }
   .banner-pic{
        width: 584px;
        height: 676px;
    }
   /*main styles */
    main{
        max-width: 1140px;
        margin: 0 auto; /*main er modhe je content gulo thakbe segulo center e thakbe*/
    }
   
    /* about style */
  .about-items{
display: flex;
justify-content: space-between;
line-height: 30px;
  }
  .item-title{
    color: #757575;
    font-size: 20px
    font-weight: regular;
  }
  .item-description{
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
    .about{
        border-radius: 10px;
        padding: 130px 150px;
        text-align: center;
        margin-top: 130px;
    }